# Data Cleaning & EDA

In [1]:
import pandas as pd
import numpy as np

In [26]:
df_products = pd.read_csv('dfs_test.csv')
df_reviews = pd.read_csv('reviews_data.csv')
df_ratings = pd.read_csv('agg_rating.csv')
df_summaries = pd.read_csv('summary_data.csv')

In [30]:
df_products.drop(columns = 'Unnamed: 0', inplace = True)
df_reviews.drop(columns = 'Unnamed: 0', inplace = True)
df_ratings.drop(columns = 'Unnamed: 0', inplace = True)
df_summaries.drop(columns = 'Unnamed: 0', inplace = True)

In [6]:
df_products.head()

,brand,category,name,price,sale_price,url,product_id
0,FENTY BEAUTY by Rihanna,Foundation,Pro Filt'r Hydrating Longwear Foundation,35.0,NaN,https://www.sephora.com/product/pro-filt-r-hyd...,2268274
1,PAT McGRATH LABS,Foundation,Skin Fetish: Sublime Perfection Foundation,68.0,NaN,https://www.sephora.com/product/skin-fetish-su...,2257111
2,FENTY BEAUTY by Rihanna,Foundation,Pro Filt'r Soft Matte Longwear Foundation,35.0,NaN,https://www.sephora.com/product/pro-filtr-soft...,2164671
3,MILK MAKEUP,Foundation,Flex Foundation Stick,36.0,NaN,https://www.sephora.com/product/flex-foundatio...,2242105
4,Estée Lauder,Foundation,Double Wear Stay-in-Place Foundation,43.0,NaN,https://www.sephora.com/product/double-wear-st...,2112167

In [7]:
df_reviews.head()

,age_range,eye_color,product_id,rating,review,skin_tone,skin_type,title,user
0,NaN,Brown,2268274,5,"WOW! I love this foundation, and the packaging...",Olive,Combination,Love this foundation in addition to the soft m...,TyraFox
1,NaN,Brown,2268274,5,A natural finish and at the same time gives co...,NaN,Oily,Feels airy and fresh with natural coverage,veens
2,18-24,Brown,2268274,4,"Uh, at first I wanted to rate this a tad bit l...",Dark,Combination,Oh man...,KhrisGal
3,NaN,Brown,2268274,4,I wear 290 in the Soft Matte Longwear Foundati...,Olive,Combination,NaN,nichemarkit
4,35-44,Brown,2268274,5,Wow. This foundation is a drink of water that ...,Medium,Combination,Wow. A drink of water foundation.,northernrokz

In [8]:
df_ratings.head()

,1 star,2 stars,3 stars,4 stars,5 stars,avg_rating,product_id,review_count
0,0,0,0,5,10,4.7,2268274,15 reviews
1,28,34,53,210,535,4.4,2257111,860 reviews
2,"1,139","1,279","1,324","2,145","8,373",4.1,2164671,"14,260 reviews"
3,0,9,21,106,207,4.5,2242105,343 reviews
4,213,257,299,836,"3,758",4.4,2112167,"5,363 reviews"

In [9]:
df_summaries.head()

             key_word key_word_count  product_id
0        long wearing        (1,165)     2112167
1  buildable coverage          (905)     2112167
2            oil-free          (608)     2112167
3       full coverage           (77)     2112167
4               cakey           (26)     2112167

In [17]:
df_products['target'] = df_products['sale_price'].map(lambda x: 1 if x > 0 else 0)

In [23]:
df_ratings['review_count'] = df_ratings['review_count'].map(lambda x: int(x.split()[0].strip().replace(',', '')))

In [28]:
df_summaries['key_word_count'] = df_summaries['key_word_count'].map(lambda x: int(x[1:-1].replace(',', '')))

In [35]:
# transposing rows to columns to have key words as features
df_sum_pivot = df_summaries.pivot_table(index = 'product_id', columns = 'key_word', values = 'key_word_count')

In [50]:
df_sum_pivot.fillna(0, inplace = True)

In [37]:
df_ratings.shape

(965, 8)

In [38]:
df_products.shape

(1387, 8)

In [39]:
df_products['target'].value_counts()

0    1209
1     178
Name: target, dtype: int64

In [40]:
# Percent of sale items in data set
df_products['target'].mean()

0.12833453496755587

In [43]:
sale_only = df_products[df_products['target'] == 1]

In [48]:
# Top 5 product categories that go on sale
sale_only['category'].value_counts()[:5]

Face Primer               31
Mascara                   21
Setting Spray & Powder    21
Highlighter               12
Lipstick                  11
Name: category, dtype: int64

In [52]:
len(set(df_reviews['product_id']))

754