# Data Cleaning

## Contents
1. [Products](#Products-DataFrame)
2. [Reviews](#Reviews-DataFrame)
3. [Summaries](#Summaries-DataFrame)
4. [Aggregate Ratings](#Aggregate-Ratings-DataFrame)

Load libraries and read in data

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns 

from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import regex as re

In [90]:
pd.set_option('display.max_columns', None)

In [5]:
df_products = pd.read_csv('datasets/df_review_pages_incl.csv')
df_reviews = pd.read_csv('datasets/reviews_data_final.csv')
df_ratings = pd.read_csv('datasets/agg_rating_data.csv')
df_summaries = pd.read_csv('datasets/summaries_final.csv')

In [240]:
df_products.drop(columns = 'Unnamed: 0', inplace = True)
df_reviews.drop(columns = 'Unnamed: 0', inplace = True)
df_ratings.drop(columns = 'Unnamed: 0', inplace = True)
df_summaries.drop(columns = 'Unnamed: 0', inplace = True)

Snapshot of data sets

In [91]:
df_products.head()

,biExclusiveLevel,brand_name,category,imageAltText,isAppExclusive,isBI,isBest,isFirstAccess,isLimitedEdition,isLimitedTimeOffer,isNatural,isNew,isOnlineOnly,isOrganic,isSephoraExclusive,listPrice,salePrice,skuId,skuType,valuePrice,review_count
0,none,FENTY BEAUTY by Rihanna,/shop/foundation-makeup,FENTY BEAUTY by Rihanna - Pro Filt'r Hydrating...,False,False,False,False,False,False,False,True,True,False,True,$35.00,NaN,2268274,Standard,NaN,4
1,none,PAT McGRATH LABS,/shop/foundation-makeup,PAT McGRATH LABS - Skin Fetish: Sublime Perfec...,False,False,False,False,False,False,False,True,False,False,True,$68.00,NaN,2257111,Standard,NaN,174
2,none,FENTY BEAUTY by Rihanna,/shop/foundation-makeup,FENTY BEAUTY by Rihanna - Pro Filt'r Soft Matt...,False,False,False,False,False,False,False,False,False,False,True,$35.00,NaN,2164671,Standard,NaN,2849
3,none,MILK MAKEUP,/shop/foundation-makeup,MILK MAKEUP - Flex Foundation Stick,False,False,False,False,False,False,False,True,False,False,True,$36.00,NaN,2242105,Standard,NaN,71
4,none,Estée Lauder,/shop/foundation-makeup,Estée Lauder - Double Wear Stay-in-Place Found...,False,False,False,False,False,False,False,False,False,False,False,$43.00,NaN,2112167,Standard,NaN,1072

In [211]:
df_reviews.head()

,age_range,eye_color,product_id,rating,review,skin_tone,skin_type,title,user
0,NaN,Brown,2268274,5,"WOW! I love this foundation, and the packaging...",Olive,Combination,Love this foundation in addition to the soft m...,TyraFox
1,NaN,Brown,2268274,5,I mean do you really have to know that she did...,Deep,Normal,And ANOTHER!,KendraAb
2,NaN,Brown,2268274,5,So i normally use the matte Fenty Matte Founda...,Deep,Combination,Food For Your Skin,UGBASTIAN89
3,NaN,Brown,2268274,5,A natural finish and at the same time gives co...,NaN,Oily,Feels airy and fresh with natural coverage,veens
4,18-24,Brown,2268274,4,"Uh, at first I wanted to rate this a tad bit l...",Dark,Combination,Oh man...,KhrisGal

In [8]:
df_ratings.head()

,1 star,2 stars,3 stars,4 stars,5 stars,avg_rating,product_id,review_count
0,0,0,0,5,10,4.7,2268274,15 reviews
1,28,34,53,210,535,4.4,2257111,860 reviews
2,"1,139","1,279","1,324","2,145","8,373",4.1,2164671,"14,260 reviews"
3,0,9,21,106,207,4.5,2242105,343 reviews
4,213,257,299,836,"3,758",4.4,2112167,"5,363 reviews"

In [212]:
df_summaries.head()

             key_word key_word_count  product_id
0        long wearing        (1,165)     2112167
1  buildable coverage          (905)     2112167
2            oil-free          (608)     2112167
3       full coverage           (77)     2112167
4               cakey           (26)     2112167

## Products DataFrame

In [96]:
# Take the highest list price 
# Different prices for list price denote sizes. We want full size prices
df_products['listPrice'] = df_products['listPrice'].map(lambda x: float(x.split()[-1][1:]))

In [115]:
# If there is a value for sale price it denotes that the item is in fact on sale
# Create a target column. 0 if not on sale, 1 for on sale
df_products['target'] = df_products['salePrice'].fillna(0).map(lambda x: 0 if x == 0 else 1)

In [121]:
# Take the higher value for sales prices 
# Convert NaNs to zeroes
# Zeroes indicate item is not on sale 
df_products['salePrice'] = df_products['salePrice'].fillna(0).map(lambda x: 0 if x == 0 else float(x.split()[-1][1:]))

In [122]:
# Check for nulls
df_products.isnull().sum()

biExclusiveLevel         0
brand_name               0
category                 0
imageAltText             0
isAppExclusive           0
isBI                     0
isBest                   0
isFirstAccess            0
isLimitedEdition         0
isLimitedTimeOffer       0
isNatural                0
isNew                    0
isOnlineOnly             0
isOrganic                0
isSephoraExclusive       0
listPrice                0
salePrice                0
skuId                    0
skuType                  0
valuePrice            3313
review_count             0
target                   0
dtype: int64

In [132]:
# Input 1 for the review count if it is an empty list. From the data scraping, if there are no reviews
# an empty list was returned. 
df_products['review_count'] = df_products['review_count'].map(lambda x: 1 if x == '[]' else x)

In [125]:
# Clean category column 
df_products['category'] = df_products['category'].map(lambda x: x.split('/')[-1])

Below, we are checking to see the values in each column

In [136]:
df_products['biExclusiveLevel'].value_counts()

none    3534
Name: biExclusiveLevel, dtype: int64

In [138]:
df_products['isAppExclusive'].value_counts()

False    3534
Name: isAppExclusive, dtype: int64

In [139]:
df_products['isBI'].value_counts()

False    3534
Name: isBI, dtype: int64

In [140]:
df_products['isBest'].value_counts()

False    3534
Name: isBest, dtype: int64

In [141]:
df_products['isFirstAccess'].value_counts()

False    3534
Name: isFirstAccess, dtype: int64

In [142]:
df_products['isLimitedEdition'].value_counts()

False    2992
True      542
Name: isLimitedEdition, dtype: int64

In [143]:
df_products['isLimitedTimeOffer'].value_counts()

False    3529
True        5
Name: isLimitedTimeOffer, dtype: int64

In [144]:
df_products['isNatural'].value_counts()

False    3534
Name: isNatural, dtype: int64

In [145]:
df_products['isOrganic'].value_counts()

False    3534
Name: isOrganic, dtype: int64

In [146]:
df_products['isOnlineOnly'].value_counts()

False    3096
True      438
Name: isOnlineOnly, dtype: int64

From the columns above, we want to drop all columns that only had 'False' values.

In [148]:
df_products.drop(columns = ['isOrganic', 'isNatural', 'isLimitedTimeOffer', 'isFirstAccess', 
                            'isBest', 'isBI', 'isAppExclusive', 'biExclusiveLevel'], inplace = True)

In [354]:
# Save as CSV
df_products.to_csv('df_products_clean.csv', index = False)

## Reviews DataFrame

In [223]:
# % of variables that are null
df_reviews.isnull().sum() / 62244

age_range     0.843069
eye_color     0.055909
product_id    0.000000
rating        0.000000
review        0.000000
skin_tone     0.174619
skin_type     0.050141
title         0.292831
user          0.000000
dtype: float64

Although having age_range would be a good feature, because of the high percentage of nulls it is not a viable feature to have. It would be extremely hard to make educated guesses about age with the given data set and therefore not recommended to impute variables for the null age_ranges

Create the target variable in the reviews dataframe

In [255]:
df_reviews['target'] = df_reviews['product_id'].isin(sale_prod['skuId'])

In [258]:
df_reviews['target'] = df_reviews['target'].map(lambda x: 1 if x == True else 0)

In [263]:
df_reviews['target'].value_counts()/len(df_reviews['target'])

0    0.951642
1    0.048358
Name: target, dtype: float64

Close to the same distribution of target variables in the review and total product dataset

In [6]:
df_reviews['skin_type'].value_counts(normalize = True)

Combination    0.540775
Dry            0.187070
Normal         0.153059
Oily           0.119096
Name: skin_type, dtype: float64

In [270]:
# Impute Combination for null values in skin type
df_reviews['skin_type'].fillna(value = 'Combination', inplace = True)

In [273]:
# Greater number of people with brown eyes in general 
# Will impute brown for eye color 
df_reviews['eye_color'].value_counts(normalize = True)

Brown    0.475387
Blue     0.186974
Green    0.139130
Hazel    0.134937
Gray     0.007663
Name: eye_color, dtype: float64

In [274]:
df_reviews['eye_color'].fillna(value = 'Brown', inplace = True)

In [276]:
df_reviews['skin_tone'].value_counts(normalize = True)

Light     0.280782
Fair      0.215603
Medium    0.204630
Olive     0.071782
Deep      0.032806
Dark      0.019777
Name: skin_tone, dtype: float64

When creating the dummy variables, will just have 0 for null values and a column to flag that zeroes were imputed for null values.

In [355]:
# Save as CSV
df_reviews.to_csv('df_reviews_clean.csv', index = False)

## Summaries DataFrame

In [279]:
# Transform word count as an integer
df_summaries['key_word_count'] = df_summaries['key_word_count'].map(lambda x: int(x[1:-1].replace(',', '')))

In [302]:
# Lemmatize words instead of Stemming. Stemming removes too much context in this case
# Remove punctuation and hashtags 
lemmatizer = WordNetLemmatizer()
df_summaries['key_word'] = df_summaries['key_word'].apply(lambda x: 
                               re.sub('[^a-zA-Z\s]', "", 
                                      " ".join([lemmatizer.lemmatize(word) for word in str(x).split()])).strip())

In [303]:
# transposing rows to columns to have key words as features
# Similar to count vectorizing 
df_sum_pivot = df_summaries.pivot_table(index = 'product_id', columns = 'key_word', values = 'key_word_count')

In [304]:
# Fill nulls with 0 
df_sum_pivot.fillna(0, inplace = True)

In [311]:
# Not necessary to keep all key words, especially those that only appear once 
# Using percentiles, decide keywords to keep above that threshold 
np.percentile(df_sum_pivot.sum(axis = 0).sort_values(ascending = False), 95)

56.0

In [321]:
# Using 95th percentile, keeping only features that appear more than 56 times throughout 
# Create a list of key words to drop 
words = []
for i, key in enumerate(df_sum_pivot.columns):
    if i not in np.where(df_sum_pivot.sum(axis = 0) > 56)[0]:
        words.append(key)

In [325]:
# Drop words that do not meet that 95% threshold 
df_sum_pivot.drop(columns = words, inplace = True)

In [326]:
df_sum_pivot.index

Int64Index([  51532,   51573,   51904,   52852,   54312,   55780,   71571,
             108779,  108829,  135558,
            ...
            2229870, 2230274, 2234730, 2241719, 2241883, 2244002, 2246726,
            2247922, 2252096, 2258473],
           dtype='int64', name='product_id', length=904)

In [327]:
# Create target column
df_sum_pivot['target'] = df_sum_pivot.index.isin(sale_prod['skuId'])

In [329]:
df_sum_pivot['target'].value_counts()

False    860
True      44
Name: target, dtype: int64

In [330]:
# Binarize target column
df_sum_pivot['target'] = df_sum_pivot['target'].map(lambda x: 1 if x == True else 0)

In [360]:
# Save as CSV
df_sum_pivot.to_csv('df_summaries_clean.csv', index = True)

## Aggregate Ratings DataFrame

In [331]:
df_ratings.head()

,1 star,2 stars,3 stars,4 stars,5 stars,avg_rating,product_id,review_count
0,0,0,0,5,11,4.7,2268274,16 reviews
1,28,35,57,212,548,4.4,2257111,880 reviews
2,"1,139","1,279","1,324","2,149","8,379",4.1,2164671,"14,270 reviews"
3,1,10,23,115,214,4.5,2242105,363 reviews
4,213,258,299,837,"3,758",4.4,2112167,"5,365 reviews"

In [335]:
# Check data types 
df_ratings.dtypes

1 star           object
2 stars          object
3 stars          object
4 stars          object
5 stars          object
avg_rating      float64
product_id        int64
review_count      int64
dtype: object

In [332]:
df_ratings.shape

(2283, 8)

In [334]:
# Change review_count to integer 
df_ratings['review_count'] = df_ratings['review_count'].map(lambda x: int(x.split()[0].replace(',', "")))

In [341]:
# Change values to integer for all columns
for col in ['1 star', '2 stars', '3 stars', '4 stars', '5 stars']:
    df_ratings[col] = df_ratings[col].map(lambda x: int(x.replace(',',"")))

In [343]:
df_ratings.dtypes

1 star            int64
2 stars           int64
3 stars           int64
4 stars           int64
5 stars           int64
avg_rating      float64
product_id        int64
review_count      int64
dtype: object

In [344]:
df_ratings.describe()

,1 star,2 stars,3 stars,4 stars,5 stars,avg_rating,product_id,review_count
count,2283.000000,2283.000000,2283.000000,2283.000000,2283.000000,2283.000000,2.283000e+03,2283.000000
mean,43.467806,44.772230,60.805957,148.208936,462.505913,4.135742,1.878389e+06,759.760841
std,110.274918,104.756187,130.873414,316.587582,1119.139899,0.429379,3.618868e+05,1709.417988
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.700000,5.153200e+04,1.000000
25%,2.000000,3.000000,4.000000,6.000000,23.000000,3.900000,1.745038e+06,39.500000
50%,10.000000,11.000000,15.000000,28.000000,93.000000,4.200000,1.967371e+06,162.000000
75%,38.000000,41.000000,60.000000,144.000000,392.000000,4.400000,2.134216e+06,695.000000
max,1766.000000,1742.000000,1772.000000,2989.000000,15008.000000,5.000000,2.274298e+06,19413.000000

In [346]:
# Create total ratings column
df_ratings['total_ratings'] = df_ratings['1 star'] + df_ratings['2 stars'] + df_ratings['3 stars'] + df_ratings['4 stars'] + df_ratings['5 stars']

In [347]:
df_ratings['target'] = df_ratings['product_id'].isin(sale_prod['skuId'])

In [348]:
df_ratings['target'] = df_ratings['target'].map(lambda x: 1 if x == True else 0)

In [349]:
df_ratings['target'].value_counts()

0    2174
1     109
Name: target, dtype: int64

In [358]:
# Save as CSV
df_ratings.to_csv('df_ratings_clean.csv', index = False)